<div [@routerTransition] class="p-3">
  <h4 class="text-center mb-3">{{ 'LogIn' | transloco }}</h4>
  <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="p-field mb-3">
      <span class="p-float-label p-input-icon-right w-100 required">
        <i class="pi pi-user"></i>
        <input type="text" pInputText id="userNameOrEmailAddress" class="w-100" name="userNameOrEmailAddress"
          [(ngModel)]="loginModel.userName" required maxlength="256" #userNameOrEmailAddressInput="ngModel"
          [ngClass]="{ 'ng-invalid ng-dirty': isFormCtrlInvalid(userNameOrEmailAddressInput) }">
        <label for="userNameOrEmailAddress">{{'Username' | transloco}}</label>
      </span>
      <validation-messages [formCtrl]="userNameOrEmailAddressInput">
      </validation-messages>
    </div>

    <div class="p-field mb-3">
      <span class="p-float-label p-input-icon-right w-100 required">
        <i class="pi pi-lock"></i>
        <input type="password" pInputText id="password" class="w-100" name="password" [(ngModel)]="loginModel.password"
          required maxlength="32" #passwordInput="ngModel"
          [ngClass]="{ 'ng-invalid ng-dirty': isFormCtrlInvalid(passwordInput) }">
        <label for="password">{{'Password' | transloco}}</label>
      </span>
      <validation-messages [formCtrl]="passwordInput">
      </validation-messages>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <a [routerLink]="['/account/register']"><i class="fa fa-plus-circle"></i>{{"Register" | transloco}}</a>

      <p-button type="submit" styleClass="p-button-primary" [disabled]="!loginForm.form.valid || submitting"
        icon="pi pi-unlock" label="{{'LogIn' | transloco}}"></p-button>
    </div>
  </form>
</div>